html,body {
    margin: 0;
    height: 100%;
}
#root {
  height: 100%;
  width: 100%;

}
iframe{
  border:0;
}
.App {
  text-align: center;
}
a{
  text-decoration: none;
  color: inherit;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.highcharts-credits {
  display: none;
}
.small-chart {
  width: 100%;
  height: 100%;
}
.coin-detail-container {
  display: flex;
  justify-content:top;
  flex-direction: column;
  height: 100%;
}
.coin-detail-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.coin-detail-item-container-item {
  margin:0px 15px;
}
.coin-detail-item {
  text-align: center;
}
.coin-detail-chart {
  margin:15px 0px;
}
ul {
  list-style: none;
}
ul.coin-detail-chart-range-selector {
  display: inline-block;
}
ul.coin-detail-chart-range-selector li.coin-detail-chart-range-item{
  display: inline-block;
  margin: 0px 15px;
  padding: 5px;
  cursor: pointer;
}

ul.coin-detail-chart-range-selector li.coin-detail-chart-range-item.active{
  background: rgba(0,0,0,0.1);
}
@media (min-width: 576px) {
.coin-detail-chart {
  height: 260px;
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .coin-detail-chart {
    height: 260px;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .coin-detail-chart {
    height: 300px;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .coin-detail-chart {
    height: 300px;
  }
 }
